# Predicting health insurance premium using Random Forest Regressor

### importing libraries and loading the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("D:\ds\Insurance Premium.csv")
df.head()

   ID  Age  Gender     BMI  Children Smoker Region  Premium
0   1   19  female  27.900         0    yes  south    16885
1   2   18    male  33.770         1     no   east     1726
2   3   28    male  33.000         3     no   east     4449
3   4   33    male  22.705         0     no   west    21984
4   5   32    male  28.880         0     no   west     3867

### gathering information about the data:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1338 non-null   int64
 1   Age       1338 non-null   int64
 2   Gender    1338 non-null   object
 3   BMI       1338 non-null   float64
 4   Children  1338 non-null   int64
 5   Smoker    1338 non-null   object
 6   Region    1338 non-null   object
 7   Premium   1338 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 83.8+ KB

In [4]:
df.isnull().sum()

ID          0
Age         0
Gender      0
BMI         0
Children    0
Smoker      0
Region      0
Premium     0
dtype: int64

In [8]:
df.shape

(1338, 8)

In [42]:
df.dtypes

ID            int64
Age           int64
Gender        int64
BMI         float64
Children      int64
Smoker        int64
Region        int64
Premium       int64
dtype: object

In [9]:
df.describe()

                ID          Age          BMI     Children       Premium
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.414798
std     386.391641    14.049960     6.098187     1.205493  12110.012882
min       1.000000    18.000000    15.960000     0.000000   1122.000000
25%     335.250000    27.000000    26.296250     0.000000   4740.000000
50%     669.500000    39.000000    30.400000     1.000000   9382.000000
75%    1003.750000    51.000000    34.693750     2.000000  16640.000000
max    1338.000000    64.000000    53.130000     5.000000  63770.000000

In [10]:
df.Gender.value_counts()

male      676
female    662
Name: Gender, dtype: int64

In [11]:
df.Smoker.value_counts()

no     1064
yes     274
Name: Smoker, dtype: int64

In [12]:
df.Region.value_counts()

east     364
south    325
west     325
north    324
Name: Region, dtype: int64

In [13]:
df.Children.value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: Children, dtype: int64

### encoding categorical features like gender, region, smoker

In [14]:
df.replace({'Region': {'north':0, 'east':1, 'west':2, 'south': 3}}, inplace=True)
df.replace({'Smoker': {'no':0 , 'yes':1}}, inplace=True)
df.replace({'Gender': {'male':0 , 'female':1}}, inplace=True)

In [15]:
df.head()

   ID  Age  Gender     BMI  Children  Smoker  Region  Premium
0   1   19       1  27.900         0       1       3    16885
1   2   18       0  33.770         1       0       1     1726
2   3   28       0  33.000         3       0       1     4449
3   4   33       0  22.705         0       0       2    21984
4   5   32       0  28.880         0       0       2     3867

### declaring 'X' as independent variables/features and 'y' as the target variable

In [16]:
y= df['Premium']
y.shape`

(1338,)

In [17]:
X= df.drop(['ID' , 'Premium'], axis=1)
X.shape

(1338, 6)

In [32]:
X.head()

        Age  Gender       BMI  Children  Smoker  Region
0 -1.438764       1 -0.453320         0       1       3
1 -1.509965       0  0.509621         1       0       1
2 -0.797954       0  0.383307         3       0       1
3 -0.441948       0 -1.305531         0       0       2
4 -0.513149       0 -0.292556         0       0       2

### Standardization of the dataset

In [20]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_standardised = df[['Age', 'BMI']]
X_standardised = sc.fit_transform(X_standardised)
X_standardised

array([[-1.43876426, -0.45332   ],
       [-1.50996545,  0.5096211 ],
       [-0.79795355,  0.38330685],
       ...,
       [-1.50996545,  1.0148781 ],
       [-1.29636188, -0.79781341],
       [ 1.55168573, -0.26138796]])

In [22]:
X[['Age', 'BMI']]= pd.DataFrame(X_standardised, columns=['Age', 'BMI'])
X.head()

        Age  Gender       BMI  Children  Smoker  Region
0 -1.438764       1 -0.453320         0       1       3
1 -1.509965       0  0.509621         1       0       1
2 -0.797954       0  0.383307         3       0       1
3 -0.441948       0 -1.305531         0       0       2
4 -0.513149       0 -0.292556         0       0       2

### splitting the data into training and testing sets

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=.2, random_state=2)

### importing Random Forest Regressor and training the model

In [25]:
from sklearn.ensemble import RandomForestRegressor
random_forest= RandomForestRegressor(random_state=2)

In [26]:
random_forest.fit(X_train, y_train)

RandomForestRegressor(random_state=2)

### getting prediction

In [27]:
y_pred= random_forest.predict(X_test)
y_pred.shape

(268,)

In [28]:
y_test.shape

(268,)

In [29]:
y_pred

array([ 4375.86, 13059.23, 14976.69,  2831.32, 10249.91,  8120.04,
        3132.92,  2905.56, 21748.64,  7972.09, 12404.82,  8725.27,
       18396.9 ,  1633.77, 11141.67, 14476.1 ,  3428.54,  7306.3 ,
       19956.47,  3509.31, 13390.39,  2501.54, 39574.82, 21081.34,
       38257.2 , 11046.16,  6992.16,  9963.99,  5531.43,  3663.99,
        8083.13,  8286.36,  7357.82,  4488.42, 10148.62,  9272.22,
       38570.93,  4815.61, 18364.8 , 14538.25,  2088.58, 35694.84,
        8063.53,  1964.5 ,  8117.61,  7788.41, 10810.41, 10631.21,
        7772.99, 10648.14,  7107.26,  1331.18, 17568.25, 44061.14,
        6701.66, 12878.78,  6862.83,  9910.69,  2361.14, 40368.63,
       17495.45,  2480.41,  4543.31, 42530.96,  1300.02, 13075.54,
       12248.2 ,  5594.13, 13950.84,  8926.84, 12409.58, 14848.09,
       10411.42,  6595.9 , 14255.88,  9671.07,  1972.12,  1753.91,
        2625.79, 14284.31, 15485.07, 11259.67,  2030.78, 17631.32,
       12647.92,  3703.98, 46819.07, 14010.27, 10495.36,  7415.73,
       10052.9 , 14993.62, 13892.93, 13287.64, 11953.36, 17141.55,
        2097.82, 10640.8 ,  6821.79, 20461.67, 10148.89,  3054.74,
        8539.55, 13549.69,  5521.02, 15498.35,  7214.59,  4131.36,
       14184.06, 24639.46,  9549.43, 20926.17, 18985.3 , 17176.45,
        3672.08, 15751.01,  6996.54,  3112.75, 11801.86, 38426.04,
       10536.67,  7042.05,  9749.25, 18042.76,  6117.48, 17041.62,
       26030.19, 10925.63,  7760.42,  7888.53,  9530.22,  2285.72,
       10748.88,  6380.87,  7110.85,  7994.22,  4323.6 , 36989.43,
       43395.35,  5474.94, 35352.29, 10987.42,  3231.9 , 11241.53,
        6080.4 , 42873.11,  8223.26, 10149.25, 14788.61,  2200.35,
        5967.07,  7109.54,  9384.9 , 14053.77, 16932.24, 14408.45,
        3987.66, 18795.77,  3528.55, 11649.72, 14635.14, 14762.59,
        9148.24,  4199.86,  6242.14,  7851.66, 16373.2 , 19770.63,
       18442.77,  1668.28, 40424.61, 10077.03, 40156.21, 25956.63,
       10749.82,  8616.28,  8634.63,  3509.31,  7923.09,  7177.98,
        1735.91,  1634.39, 20458.9 ,  7960.15,  2063.49, 34478.02,
        4503.74,  7766.68,  4029.39, 51289.41,  9728.96,  4421.89,
        9882.12, 16840.13, 11154.86, 47796.24, 45990.97, 12163.55,
       18459.82, 10458.15, 45158.26,  6539.47,  2041.56,  2757.67,
       14975.11, 11468.99,  2083.37, 44001.94, 11572.75, 11151.27,
        2120.46, 37979.23,  9702.03, 11008.35, 20688.35, 14770.19,
       19125.93,  2350.57,  1774.98,  6784.48, 47353.89, 11077.08,
       42323.46, 18269.05, 13372.81, 19327.02, 10050.82, 10360.17,
       13186.53,  5998.56, 13496.61,  5470.75,  7602.48,  1771.6 ,
       24508.78, 38266.08, 14675.99,  8349.25,  1880.77,  7925.29,
        9450.92, 10329.79, 13135.16,  3556.08, 26997.89, 23428.49,
       13368.57, 20921.95, 11193.22,  5152.92,  8917.43,  3465.19,
        7131.79, 12385.06, 18285.04,  3429.59,  7251.08,  1712.95,
        2751.54,  1571.98, 19319.22, 53927.84, 46067.99,  2370.94,
       15612.68, 28389.81, 13887.11, 23645.86])

### evaluating our model

In [31]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8356213559505736

### its your turn!

In [69]:
import warnings
warnings.filterwarnings('ignore')

In [76]:
def predict_output():
    age= float(input('enter your age '))
    gen= float(input('press 0 for male, 1 for female '))
    bmi= float(input('enter your bmi '))
    children= float(input('how many children do you have? '))
    smoke= float(input('press 0 if you do not smoke, 1 if you do '))
    reg= float(input('press 0 if reside in north, 1 if in east, 2 if in west, and 3 if in south '))
    
    
    
    X_new = np.array([[age , gen , bmi, children, smoke, reg]])
    
    
    
    Xnew_standardised = X_new[:, [0, 2]]
    Xnew_standardised = sc.transform(Xnew_standardised)
    X_new[:, [0]]= Xnew_standardised[:, [0]]
    X_new[:, [2]] =Xnew_standardised[:, [1]]
    
    print('your premium: ')
    return random_forest.predict(X_new)[0]

In [77]:
predict_output()

enter your age 19
press 0 for male, 1 for female 1
enter your bmi 22
how many children do you have? 0
press 0 if you do not smoke, 1 if you do 0
press 0 if reside in north, 1 if in east, 2 if in west, and 3 if in south 0
your premium:

2614.97